In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# 그래프에 한글 설정
plt.rcParams['font.family']='Malgun Gothic'

# 그래프에 마이너스 기호 깨지는 문제 해결
plt.rcParams['axes.unicode_minus'] = False

df_order1 = pd.read_excel (r'3.1 주문정보(개인정보 제외)_추출.xlsx')
df_items1 = pd.read_excel (r'2.1 상품정보_추출.xlsx')
df_refund1 = pd.read_excel (r'5.1 환불정보(개인정보 제외)_추출.xlsx')

# 주문, 환불 정보 결합
- 주분 구분에서 4가지 값(환불완료, 결제취소, 주문취소, 환불신청)은 제외

In [2]:
df_order1.head(2)

,주문번호,순번,주문일시,진행구분,배송지,상품번호,상품명,옵션명,수량,판매가,배송비,쿠폰할인액,회원주문여부,회원번호
0,1711080845542139,1,2017-11-08 08:46:26,환불완료,서울 영등포구 국제금융로2길 32,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,0.0,9760.0,Y,1876
1,1711080902432145,1,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:핑크,1,7800.0,2500.0,1560.0,Y,1876

In [10]:
df_order1 [df_order1['주문번호'] == 1711080902432145]

,주문번호,순번,주문일시,진행구분,배송지,상품번호,상품명,옵션명,수량,판매가,배송비,쿠폰할인액,회원주문여부,회원번호
1,1711080902432145,1,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:핑크,1,7800.0,2500.0,1560.0,Y,1876
778,1711080902432145,2,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:스카이블루,1,7800.0,0.0,1560.0,Y,1876

In [11]:
df_order1.dtypes

주문번호        int64
순번          int64
주문일시       object
진행구분       object
배송지        object
상품번호       object
상품명        object
옵션명        object
수량          int64
판매가       float64
배송비       float64
쿠폰할인액     float64
회원주문여부     object
회원번호        int64
dtype: object

In [12]:
# datetime형으로 변경 : 주문일시
df_order1['주문일시'] = pd.to_datetime(df_order1['주문일시'])

In [13]:
df_order1['주문일자'] = df_order1['주문일시'].dt.date

In [14]:
df_order1.head(2)

,주문번호,순번,주문일시,진행구분,배송지,상품번호,상품명,옵션명,수량,판매가,배송비,쿠폰할인액,회원주문여부,회원번호,주문일자
0,1711080845542139,1,2017-11-08 08:46:26,환불완료,서울 영등포구 국제금융로2길 32,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),NaN,1,48840.0,0.0,9760.0,Y,1876,2017-11-08
1,1711080902432145,1,2017-11-08 09:04:28,결제취소,서울 영등포구 국제금융로2길 32,G1710311849_6973,(임직원 전용)[아름다운공간] 스윗도자기 원형디스펜서 (2color/400ml),색상:핑크,1,7800.0,2500.0,1560.0,Y,1876,2017-11-08

In [ ]:
df_order1.drop(df_order1[df_order1["진행구분"] == '환불완료'].index, inplace=True)
df_order1.drop(df_order1[df_order1["진행구분"] == '결제취소'].index, inplace=True)
df_order1.drop(df_order1[df_order1["진행구분"] == '환불신청'].index, inplace=True)
df_order1.drop(df_order1[df_order1["진행구분"] == '주문취소'].index, inplace=True)

In [75]:
df_환불완료 = df_order1[df_order1["진행구분"] == '환불완료']
df_결제취소 = df_order1[df_order1["진행구분"] == '결제취소']
df_환불신청 = df_order1[df_order1["진행구분"] == '환불신청']
df_주문취소 = df_order1[df_order1["진행구분"] == '주문취소']

df_order1_canceled = pd.concat([df_환불완료, df_결제취소, df_환불신청, df_주문취소 ], axis = 0)
df_order1_canceled.shape

(4054, 15)

In [58]:
df_order1.shape

(24766, 24)

In [77]:
df_refund1.shape

(3790, 7)

In [81]:
df_order1_canceled.columns

Index(['주문번호', '순번', '주문일시', '진행구분', '배송지', '상품번호', '상품명', '옵션명', '수량', '판매가',
       '배송비', '쿠폰할인액', '회원주문여부', '회원번호', '주문일자'],
      dtype='object')

In [84]:
df_order1_canceled.drop(columns = ['배송지', '옵션명', '수량', '판매가', '배송비', '쿠폰할인액', '회원주문여부', '회원번호'], inplace=True)

In [85]:
df_order1_canceled.head()

,주문번호,순번,주문일시,진행구분,상품번호,상품명,주문일자
0,1711080845542139,1,2017-11-08 08:46:26,환불완료,G1710311847_6746,(임직원 전용)[케라미카] 바뎀 2인홈세트 (11p),2017-11-08
3,1711080934572167,1,2017-11-08 09:35:19,환불완료,G1710311906_7061,(임직원 전용)[트레비앙] 전동 와인 오프너_DM-503,2017-11-08
7,1711081303002187,1,2017-11-08 13:04:02,환불완료,G1710131404_3328,[전동댐퍼] MDD-P100DP-P,2017-11-08
32,1711111052252419,1,2017-11-11 10:59:11,환불완료,G1710311847_6748,(임직원 전용)[케라미카] 바뎀 4인홈세트 (23p),2017-11-11
96,1711131003142773,1,2017-11-13 10:05:59,환불완료,G1710131302_3317,[싸이크론] 저소음 환풍기_JV-201,2017-11-13

In [87]:
df_refund1.head()

               주문번호  환불번호 진행구분  결제수단      환불금액  할부개월                환불일자
0  1709061012340050    17   취소  신용카드   37000.0   0.0 2017-09-06 10:14:22
1  1709111558160149    48   취소  가상계좌    6850.0   NaN 2017-09-12 16:42:22
2  1709121552530178    71   취소  가상계좌  249500.0   NaN 2017-09-12 15:56:20
3  1709211749040335   121   취소  가상계좌  409200.0   NaN 2017-09-21 17:51:50
4  1709221305150350   128   취소  신용카드   12060.0   0.0 2017-09-22 13:12:27

In [89]:
df_refund1.drop(columns = ['진행구분','결제수단', '환불금액', '할부개월'], inplace = True)

In [ ]:
pd.concat([df1, df2], axis = 1)

In [79]:

df_refund1_itemno = pd.merge(df_refund1, df_solditems, on = '주문번호', how='left')
df_solditems_refund.shape

(1215, 15)

2839

In [67]:
df_refund1.head()

               주문번호  환불번호 진행구분  결제수단      환불금액  할부개월                환불일자
0  1709061012340050    17   취소  신용카드   37000.0   0.0 2017-09-06 10:14:22
1  1709111558160149    48   취소  가상계좌    6850.0   NaN 2017-09-12 16:42:22
2  1709121552530178    71   취소  가상계좌  249500.0   NaN 2017-09-12 15:56:20
3  1709211749040335   121   취소  가상계좌  409200.0   NaN 2017-09-21 17:51:50
4  1709221305150350   128   취소  신용카드   12060.0   0.0 2017-09-22 13:12:27

In [60]:
df_solditems.shape

(20712, 24)

In [52]:
# 주문상품,환불정보 결합

df_solditems_refund = pd.merge(df_refund1, df_solditems, on = '주문번호', how='left')
df_solditems_refund.shape

(4542, 17)

In [53]:
df_solditems_refund.진행구분_y.unique()

array([nan, '환불완료', '결제취소', '주문취소', '배송준비중'], dtype=object)

In [54]:
df_refund1.진행구분_y.unique()

array(['취소'], dtype=object)

In [55]:
df_solditems_refund.head(2)

,주문번호,환불번호,진행구분_x,결제수단,환불금액,할부개월,환불일자,순번,주문일시,진행구분_y,상품번호,상품명_x,회원번호,주문일자,업체명,판매상태,전시상태
0,1709061012340050,17,취소,신용카드,37000.0,0.0,2017-09-06 10:14:22,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1709111558160149,48,취소,가상계좌,6850.0,NaN,2017-09-12 16:42:22,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 주분 구분 제외 항목(환불완료, 결제취소, 주문취소, 환불신청)
df_order1.drop(df_order1[df_order1["진행구분"] == '환불완료'].index, inplace=True)
df_order1.drop(df_order1[df_order1["진행구분"] == '결제취소'].index, inplace=True)
df_order1.drop(df_order1[df_order1["진행구분"] == '환불신청'].index, inplace=True)
df_order1.drop(df_order1[df_order1["진행구분"] == '주문취소'].index, inplace=True)

In [ ]:
df_items1.head()

In [ ]:
df_refund1.head()

In [ ]:
df_실제_구매정보 = df_주문정보[df_주문정보["회원번호"].isin(df_고객정보["회원번호"])]

In [ ]:
df_실제_구매고객 = df_고객정보[df_고객정보["회원번호"].isin(df_주문정보["회원번호"])]

In [ ]:
df_solditems_incl_refund = pd.merge(df_solditems, df_refund1)
df_solditems_incl_refund

In [ ]:
df_order1[ df_order1['상품번호'] == 'G1710311847_6746' ]

In [ ]:
df_items1[df_items1['상품번호'] == 'G1710311847_6746' ]

In [ ]:
df_solditems.head(2)

In [ ]:
df_vendors = df_solditems['업체명'].value_counts().to_frame()
df_vendors.reset_index(drop=False, inplace =True)

df_vendors.columns = ['업체명', '주문건수']
df_vendors.head()

In [ ]:
df_vendors.tail()

In [ ]:
plt.rcParams['figure.figsize']=(10,5)
x = df_vendors.index
y = df_vendors.주문건수

plt.xlabel('업체 순위')
plt.ylabel('주문 건수')

plt.bar(x,y)
plt.show()

In [ ]:
df_vendors_top = df_vendors [df_vendors['주문건수'] > 50]
df_vendors_top.tail()

In [ ]:
plt.rcParams['figure.figsize']=(5,5)
x = df_vendors_top.index
y = df_vendors_top.주문건수

plt.xlabel('업체 순위')
plt.ylabel('주문 건수')

plt.bar(x,y)
plt.show()

In [ ]:
# 주문건수 top 업체의 일자별 주문 현황
df_vendors_top.head()

In [ ]:
df_solditems_오름 = df_solditems [df_solditems['업체명'] == '오름']
df_solditems_오름.head(2)

In [ ]:
df_solditems_오름_count = df_solditems_오름.groupby('주문일자').주문일시.count().to_frame()
df_solditems_오름_count.columns = ['주문건수']
df_solditems_오름_count

In [ ]:
plt.rcParams['figure.figsize']=(10,5)

plt.scatter(df_solditems_오름_count.index, df_solditems_오름_count.values, marker = '.', color = 'c')

plt.title('주문건수 1위 업체 오름 일자별 주문건수')
plt.show()

In [ ]:
topvendors = df_vendors_top['업체명']
topvendors[0:10]

In [ ]:
for vendor in topvendors[1:5] :
    name = 'df_solditems_'+ vendor
    
    namefiltering = name + " = df_solditems [df_solditems['업체명'] == " + "'" + vendor + "'" + ']'
    grouping = name + '_count = ' + name + ".groupby('주문일자').주문일시.count().to_frame()"
    columnchange = name + "_count.columns = ['주문건수']"
        
    print(namefiltering)
    print(grouping)
    print(columnchange)
    print()

In [ ]:
df_solditems_두닷 = df_solditems [df_solditems['업체명'] == '두닷']
df_solditems_두닷_count = df_solditems_두닷.groupby('주문일자').주문일시.count().to_frame()
df_solditems_두닷_count.columns = ['주문건수']
df_solditems_세상담기 = df_solditems [df_solditems['업체명'] == '(주)세상담기']
df_solditems_세상담기_count = df_solditems_세상담기.groupby('주문일자').주문일시.count().to_frame()
df_solditems_세상담기_count.columns = ['주문건수']
df_solditems_주식회사소프시스 = df_solditems [df_solditems['업체명'] == '주식회사 소프시스']
df_solditems_주식회사소프시스_count = df_solditems_주식회사소프시스.groupby('주문일자').주문일시.count().to_frame()
df_solditems_주식회사소프시스_count.columns = ['주문건수']
df_solditems_에드가인터네셔날 = df_solditems [df_solditems['업체명'] == '에드가인터네셔날']
df_solditems_에드가인터네셔날_count = df_solditems_에드가인터네셔날.groupby('주문일자').주문일시.count().to_frame()
df_solditems_에드가인터네셔날_count.columns = ['주문건수']

In [ ]:
plt.rcParams['figure.figsize']=(10,5)

plt.scatter(df_solditems_두닷_count.index, df_solditems_두닷_count.values, marker = '.', color = 'c')

plt.title('주문건수 2위 업체 두닷 일자별 주문건수')
plt.show()

In [ ]:
plt.rcParams['figure.figsize']=(10,5)

plt.scatter(df_solditems_세상담기_count.index, df_solditems_세상담기_count.values, marker = '.', color = 'c')

plt.title('주문건수 3위 (주)세상담기 일자별 주문건수')
plt.show()

In [ ]:
plt.rcParams['figure.figsize']=(10,5)

plt.scatter(df_solditems_주식회사소프시스_count.index, df_solditems_주식회사소프시스_count.values, marker = '.', color = 'c')

plt.title('주문건수 4위 주식회사 소프시스 일자별 주문건수')
plt.show()

In [ ]:
plt.rcParams['figure.figsize']=(10,5)

plt.scatter(df_solditems_에드가인터네셔날_count.index, df_solditems_에드가인터네셔날_count.values, marker = '.', color = 'c')

plt.title('주문건수 5위 에드가인터네셔날 일자별 주문건수')
plt.show()

In [ ]:
fig = plt.figure(figsize=(20,5))
ax1 = fig.add_subplot(2,3,1)
ax2 = fig.add_subplot(2,3,2)
ax3 = fig.add_subplot(2,3,3)
ax4 = fig.add_subplot(2,3,4)
ax5 = fig.add_subplot(2,3,5)

ax1.scatter(df_solditems_오름_count.index, df_solditems_오름_count.values, marker = '.', color = 'c')
ax2.scatter(df_solditems_두닷_count.index, df_solditems_두닷_count.values, marker = '.', color = 'c')
ax3.scatter(df_solditems_세상담기_count.index, df_solditems_세상담기_count.values, marker = '.', color = 'c')
ax4.scatter(df_solditems_주식회사소프시스_count.index, df_solditems_주식회사소프시스_count.values, marker = '.', color = 'c')
ax5.scatter(df_solditems_에드가인터네셔날_count.index, df_solditems_에드가인터네셔날_count.values, marker = '.', color = 'c')


ax1.set_yticks(range(0,100,10))
ax2.set_yticks(range(0,100,10))
ax3.set_yticks(range(0,100,10))
ax4.set_yticks(range(0,100,10))
ax5.set_yticks(range(0,100,10))

ax1.set_title('오름')
ax2.set_title('두닷')
ax3.set_title('세상담기')
ax4.set_title('주식회사 소프시스')
ax5.set_title('에드가인터네셔날')


fig.suptitle('XX 온라인 쇼핑몰 매출상위업체 주문건수', size=20)
fig.tight_layout()

plt.show()